<!DOCTYPE html>
<html>
    <body>
        <h2>Fraud Detection</h2>
        <form action="/submit" method ='post'>
            <label for="Science">Science:</label><br>
            <input type="text" id="Science" name="Science" value="0"><br><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" id="Maths" name="Maths" value="0"><br><br>
            <label for="C">C:</label><br>
            <input type="text" id="C" name="C" value="0"><br><br>
            <label for="DataScience">DataScience:</label><br>
            <input type="text" id="DataScience" name="DataScience" value="0"><br><br>
            <input type="submit" value = "Submit">
        </form>

        <p>If you Click the "Submit" button, the form-data will be sent to a page</p>
    </body>
</html>